# Eclipse
.project
.classpath
.settings/
.metadata/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Build folders
bin/
target/
build/
out/

# Compiled Java files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db